%h1 MikutterFavstar
%p mikutter favstar's (this site) goal is alternating favstar.fm.
%p use 3 solutions for alternate favstar.fm.
%ul
  %li= link_to "aclog", "http://aclog.koba789.com"
  %li= link_to "mikutter_fabster plugin for mikutter", "https://github.com/taiki45/mikutter_fabster"
  %li= link_to "...", "https://github.com/taiki45/twitter_daemon"
